.barber-card-container {
    border-color: rgb(235, 235, 235);
    display: flex;
    flex-flow: row;
    padding: 24px !important;
}

ul  {
    list-style-type: none;
}

.barber-card-container {
    border-color: rgb(235, 235, 235);
    display: flex;
    flex-flow: row;
    padding: 24px !important;
}